<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>tagslide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- build:css({.tmp,app}) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/theme/dark.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tagslide">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div id="page" ng-controller="Main">
        <div class="slideshow {{theme}}">
            <div class="branding">
                <h1>Branding here</h1>
            </div>

            <button ng-click="fullscreen()" id="fullscreen">fullscreen</button>

            <ul class="slides">
                <li class="slide" ng-repeat="slide in posts" ng-class="{ active : slide.id == posts[current].id }">
                    <div class="media {{slide.type}}">
                        <img ng-src="{{slide.media}}" ng-if="slide.type=='image'" />
                        <video autoplay loop muted ng-src="{{slide.media}}" ng-if="slide.type=='video'"></video>
                    </div>
                    
                    <div class="meta">
                        <div class="caption">{{slide.caption}}</div>
                        <div class="user">
                            <span>{{slide.user}}</span>
                            <img ng-src="{{slide.user_img}}" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/prefixfree/prefixfree.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/FormModal.js"></script>
    <script src="js/controllers/Admin.js"></script>
    <script src="js/controllers/Main.js"></script>
    <script src="js/filters/hasTag.js"></script>
    <script src="js/filters/isApproved.js"></script>
    <script src="js/filters/isNotApproved.js"></script>
    <script src="js/services/Post.js"></script>
    <script src="js/services/Tag.js"></script>
    <!-- endbuild -->
</body>
</html>
