<div class="admin container">
    <h1>tagslide admin</h1>

    <alert class="bouncy-slide-top" ng-animate ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


    <h2>tags <button ng-click="form({})" class="btn btn-primary">create</button></h2>

    <h3>modify</h3>
    <ul>
        <li ng-repeat="tag in app.tags">
            <a target="_new" href="#/tag/{{tag.tag}}" class="btn btn-default">{{tag.tag}}</a>
            <a ng-click="form(tag)" class="btn btn-default">edit</a>
            <button ng-click="deleteTag(tag)" class="btn btn-danger">delete</button>
        </li>
    </ul>

    <h2>posts</h2>
    <div class="clearfix" ng-repeat="tag in app.tags">
        <h3>#{{tag.tag}}</h3>

        <div class="clearfix">
            <h4>unapproved</h4>
            <ul class="posts">
                <li ng-animate ng-show="post.tag == tag.tag && !post.approved" ng-repeat="post in app.posts" class="col-sm-4">
                    <div>
                        <img class="img-responsive" ng-src="{{post.media}}" ng-if="post.type=='image'" />
                        <video preload="metadata" class="img-responsive" controls muted ng-src="{{post.media}}" ng-if="post.type=='video'"></video>
                        <button class="approve  btn btn-success" ng-click="approve(post)">approve</button>
                        <div class="user">{{post.user.username}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="clearfix">
            <h4>approved</h4>
            <ul class="posts">
                <li ng-animate ng-show="post.tag == tag.tag && post.approved" ng-repeat="post in app.posts" class="col-sm-4">
                    <div>
                        <img class="img-responsive" ng-src="{{post.media}}" ng-if="post.type=='image'" />
                        <video height="100%" class="img-responsive" controls muted ng-src="{{post.media}}" ng-if="post.type=='video'"></video>
                        <button class="approve btn btn-danger" ng-click="disapprove(post)">unapprove</button>
                        <div class="user">{{post.user.username}}</div>
                    </div>
                </li>
            </ul>
        </div>  
    </div>
</div>