<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<style>
    body{
        overflow:auto;
    }
</style>

<div class="container">
    <h1>tagslide admin</h1>

    <h2>tags <button ng-click="form({})" class="btn btn-primary">create</button></h2>

    <h3>modify</h3>
    <ul>
        <li ng-repeat="tag in tags">
            <a target="_new" href="/#{{tag.tag}}" class="btn btn-default">{{tag.tag}}</a>
            <a ng-click="form(tag)" class="btn btn-default">edit</a>
            <button ng-click="deleteTag(tag)" class="btn btn-danger">delete</button>
        </li>
    </ul>


    <h2>posts</h2>

    <div class="clearfix" ng-repeat="tag in tags">
        <h3>#{{tag.tag}}</h3>

        <div class="clearfix">
            <h4>unapproved</h4>
            <ul class="posts">
                <li ng-repeat="post in posts | isNotApproved | hasTag:tag.tag" class="col-sm-4">
                    <div>
                        <img class="img-responsive" ng-src="{{post.media}}" ng-if="post.type=='image'" />
                        <video class="img-responsive" controls muted ng-src="{{post.media}}" ng-if="post.type=='video'"></video>
                        <button class="approve  btn btn-success" ng-click="approve(post)">approve</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="clearfix">
            <h4>approved</h4>
            <ul class="posts">
                <li ng-repeat="post in posts | isApproved | hasTag:tag.tag" class="col-sm-4">
                    <div>
                        <img class="img-responsive" ng-src="{{post.media}}" ng-if="post.type=='image'" />
                        <video class="img-responsive" controls muted ng-src="{{post.media}}" ng-if="post.type=='video'"></video>
                        <button class="approve btn btn-danger" ng-click="approve(post)">unapprove</button>
                    </div>
                </li>
            </ul>
        </div>  
    </div>
</div>