<div class="slideshow {{theme}}">
	<div class="branding">
		<h1>Branding here</h1>
	</div>

	<button ng-click="fullscreen()" id="fullscreen">fullscreen</button>

	<ul class="slides">
		<li class="slide" ng-repeat="slide in posts" ng-class="{ active : slide.id == posts[current].id }">
			<div class="media {{slide.type}}">
				<img ng-src="{{slide.media}}" ng-show="slide.type=='image'" />
				<video autoplay loop muted ng-src="{{slide.media}}" ng-show="slide.type=='video'"></video>
			</div>
			
			<div class="meta">
				<div class="caption">{{slide.caption}}</div>
				<div class="user">
					<span>{{slide.user}}</span>
					<img ng-src="{{slide.user_img}}" />
				</div>
			</div>
		</li>
	</ul>
</div>