<h1>Branding</h1>

<form class="col-sm-2 clearfix slidecontrols">
	<div class="col-sm-6 form-group">
		<label for="selTheme" class="control-label">theme</label>
		<select id="selTheme" class="form-control" ng-model="theme" ng-options="t for t in themes"></select>
	</div>
	<div class="col-sm-6 form-group">
		<button class="btn btn-default" ng-click="fullscreen()">fullscreen</button>
	</div>
</form>

<ul class="slideshow">
    <li class="slide" ng-repeat="slide in posts | isApproved" ng-class="{ active : slide.id == posts[current].id }">
        <div class="media {{slide.type}}">
            <img ng-src="{{slide.media}}" ng-if="slide.type=='image'" />
            <video autoplay loop muted ng-src="{{slide.media}}" ng-if="slide.type=='video'"></video>
        </div>
        
        <div class="meta">
            <div class="caption">
            	{{slide.caption.text}}
            </div>
            <div class="user">
                <span>{{slide.user.username}}</span>
                <img ng-src="{{slide.user_img}}" />
            </div>
        </div>
    </li>
</ul>
